<!-- stats -->
<div class="stats" id="Teachers">
	<div class="container overlay-1">
		<div class="row">
			<div class="col-12 col-md-3">
				<img src="website/images/ab3.jpg" class="img-responsive img-fluid">
				<p><strong>Mrs</strong> Abc</p>
				<h5>Director</h5>
			</div>

			<div class="col-12  col-md-3">
				<img src="images/faculty-2.jpg" class="img-responsive img-fluid">
				<p><strong>Mrs</strong> Abc</p>
				<h5>Principal</h5>
			</div>

			<div class="col-12 col-md-3">
				<img src="images/faculty-3.jpg" class="img-responsive img-fluid">
				<p><strong>Mr</strong> Abc</p>
				<h5>Voice Principal</h5>
			</div>

			<div class="col-12 col-md-3">
				<img src="images/faculty-4.jpg" class="img-responsive img-fluid">
				<p><strong>Mr</strong> Abc</p>
				<h5>Teacher</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-3">
				<img src="/website/images/faculty-1.jpg" class="img-responsive img-fluid">
				<p><strong>Mrs</strong> Abc</p>
				<h5>Director</h5>
			</div>

			<div class="col-12  col-md-3">
				<img src="images/faculty-2.jpg" class="img-responsive img-fluid">
				<p><strong>Mrs</strong> Abc</p>
				<h5>Principal</h5>
			</div>

			<div class="col-12 col-md-3">
				<img src="images/faculty-3.jpg" class="img-responsive img-fluid">
				<p><strong>Mr</strong> Abc</p>
				<h5>Voice Principal</h5>
			</div>

			<div class="col-12 col-md-3">
				<img src="images/faculty-4.jpg" class="img-responsive img-fluid">
				<p><strong>Mr</strong> Abc</p>
				<h5>Teacher</h5>
			</div>
		</div>

		
	</div>
</div>
<!-- //stats -->