 
<style type="text/css">
	
/* 21-1-2019 code css */
.agile_about_grid_right strong, .agile_about_grid_right p{
    color: #999!important;
}


</style>

<!-- about -->
	<div class="about py-5">
		<div class="container  py-md-3">
			<div class="w3-head-all mb-3">
		         <h3>About Us : Panchvati</h3>
		       </div>
			<div class="agile_about_grids row">
				<div class="col-md-6 agile_about_grid_left">
					<div class="row">
					</div>
					<div class="clearfix"> </div>
					<img class="agile_about_grid_left_img img-responsive img-fluid" src="/images/ab3.jpg" alt=" " />
				</div>
				<div class="col-md-6 agile_about_grid_right">
					<!-- <p style="color: #000000">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
					<p>
					<%- aboutus %>
				</p>
					<div class="about_more">
						<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more dddd </a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->

 