<!-- appointment -->
<div id="Admission">
	<div class="appointment" id="appointment">
		<div class="container-fluid  py-md-3">
			<div class="row">
				<div class="col-md-5 about-bottoml-agileits">
				</div>
				<div class="col-md-7 about-bottomr-agileits">
					<div class="appointment_head">
						<h3>Admission </h3>
					</div>
						<div class="form-agileits">
						<form action="#" method="post">
						
								<input class="name" type="text" name="First Name" placeholder="First Name" required="">
								<input type="text" name="Last Name" placeholder="Father Name" required="">
								<input type="text" name="Last Name" placeholder="Mother Name" required="">
								<input class="name" type="email" name="Email" placeholder="Email" required="">
								<input type="text" name="Phone" placeholder="Phone No." required="">
								<input type="text" name="Phone" placeholder="Parent Phone No." required="">
								<div class="clearfix"> </div>
							
								<select class="form-control name">
									<option>Male / Female</option>
									<option>Post-recovery</option>
									<option>Post-Trauma</option>
									<option>Migraines</option>
									<option>Chronic Pains</option>
								</select>
								<input  id="datepicker1" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" placeholder="Date of Birth" required="">
							<div class="clearfix"> </div>
								<input type="submit" value="Submit">
						</form>
						</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //appointment -->