<!-- mail -->
		<div class="mail py-5" id="contact"> 
			<div class="container  py-md-3">	
				<div class="w3-head-all mb-3">
					<h3>Contact Us</h3>
				</div>
				<div class="w3-agile_info row">
					<div class="col-lg-4 col-sm-6 col-xs-12 mail-agileits-w3layouts">
						<i class="fas fa-mobile-alt" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Phone</p><span>+91 <%= setting.phone %></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-xs-12 mail-agileits-w3layouts">
						<i class="far fa-envelope" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Email</p><a href="mailto:info@example.com"><%= setting.school_email %></a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-xs-12 mail-agileits-w3layouts mail-agileits-w3layouts1">
						<i class="fas fa-map-marker" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Address</p><span><%= setting.address %></span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="container-fluid">	
				<div class="row">
					<div class="col-lg-12 map ">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359195.17562375!2d-113.7156245614499!3d36.2473834534249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1452332634941"></iframe>
					</div>
					<!-- <div class="col-lg-5 mail-grid1-form ">
						<h3 class="tittle-w3"><span>Send a </span>Message</h3>
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Your Name" required="" />
							<input type="text" name="phone" placeholder="Your Phone" required="" />
							<input type="email" name="Email" placeholder="your Email" required="" />
							<textarea name="Message" placeholder="Your Message...." required=""></textarea>
							<input type="submit" value="Submit">
						</form>
					</div> -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
			<!-- //mail -->