<style type="text/css">


	/* 18 Jan start code css */

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.carousel-manages {

}

.carousel-manages a > img {
    border-radius: 50%;
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.carousel-manages h1 {
    text-align: center;
    font-size: 22px;
    padding-top: 24px;
}

.carousel-manages h1 a {
    color: #333;
}

.carousel-manages .w3-head-all h3 {
    margin-bottom: 1.5em; 
}

.carousel-manages {
    
}
/* 18 Jan code css */
</style>

	<div class="about-3 py-5" id="About">
			<div class="container py-md-3">
			<div class="w3-head-all mb-3">
			         <h3>Welcome</h3>
			       </div>
				<div class="d-flex">
					<div class="about1"> 
						<h4>Welcome to Edu Records.</h4>
						<p class="details">Nullam pulvinar vulputate aliquam. Pellentesque venenatis ut mi ac porta. Praesent interdum nibh libero, id malesuada libero aliquet quis. Donec at odio nibh.</p>
						<ul class="about-list">
							<li>
								<!-- <span class="fas fa-chess-rook" aria-hidden="true"></span> -->
								<div class="in-block">
									<h5>Our Mission</h5>
									<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
								</div>
							</li>
							<li>
							<!-- <span class="fab fa-accessible-icon" aria-hidden="true"></span> -->
								<div class="in-block">
									<h5>Our Activity</h5>
									<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
								</div>
							</li>
							<li>
							<!-- <span class="fas fa-bus" aria-hidden="true"></span> -->
								<div class="in-block">
									<h5>Our Vission</h5>
									<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="about2">
						
					</div>
				</div>
				
			</div>
		</div>


<!-- /services-home -->
	<div class="programs py-5 carousel-manages" id="Events">
		<div class="w3-head-all mb-3">
		 <h3></h3>
		</div>
		
		<div class="container">
				<div class="row blog">
					<div class="col-md-12">
						<div id="blogCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">  
	
							<ol class="carousel-indicators">
								<li data-target="#blogCarousel" data-slide-to="0" class="active"></li>                       
								<li data-target="#blogCarousel" data-slide-to="1"></li>
							</ol>
	
							<!-- Carousel items -->
							<div class="carousel-inner">
	
								<div class="carousel-item active">
									<div class="row">
										
										<div class="col-md-4 col-12">
											<a href="/about">
												<img src="/images/about.jpeg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/about">About</a></h1>
										</div>
										<div class="col-md-4 col-12">
											<a href="/events">
												<img src="/images/event.jpg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/events">Events</a></h1>
										</div>
										<div class="col-md-4 col-12">
											<a href="/noticeboard">
												<img src="/images/noticeboard.jpg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/noticeboard">Noticeboard</a></h1>
										</div>
									</div>
									<!--.row-->
								</div>
								<!--.item-->
	
								<div class="carousel-item">
									<div class="row">
										<div class="col-md-4 col-12">
											<a href="/teachers">
												<img src="/images/teacher.jpg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/teachers">Teachers</a></h1>
										</div>
										<div class="col-md-4 col-12">
											<a href="/gallery">
												<img src="/images/student-gallery.jpg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/gallery">Gallery</a></h1>
										</div>
										<div class="col-md-4 col-12">
											<a href="/admission">
												<img src="/images/admission.jpg" alt="Image" style="max-width:100%;">
											</a>
											<h1><a href="/admission">Admission</a></h1>      
										</div>
									</div>
									<!--.row-->
								</div>
								<!--.item-->
	
							</div>
							<!--.carousel-inner-->
						</div>
						<!--.Carousel-->
	
					</div>
				</div>
	</div>

	</div>